.container {
    padding: 6rem 4rem;
}

.date {
    font-size: 5rem;
    font-family: 'Redwing', 'Nunito', sans-serif;
    color: var(--color-text-light);
    text-align: right;
}

.flightNumber {
    color: var(--color-text-light);
    font-size: 2rem;
}

.launchName {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.details {
    font-size: 1.7rem;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    margin-top: 4rem;
}

.column {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}

.subtitle {
    &:not(.subtitle:first-child) {
        margin-top: 2rem;
    }

    margin-bottom: 0.5rem;
}