td {
    padding-right: 3rem;

    @media (max-width: 600px) {
        font-size: 1.5rem;
    }

    &:first-child {
        color: var(--color-text-light);
    }

    &:last-child {
        font-weight: 600;
    }
}